/.ruby-gemset
/.ruby-version
/Gemfile.lock
/blog/.ruby-gemset
/blog/.ruby-version
/blog/Gemfile.lock
/jails/.ruby-gemset
/jails/.ruby-version
/jails/*.gem
/jails/.git
/jails/.gitignore

/jails/.bundle/
/jails/.yardoc
/jails/_yardoc/
/jails/coverage/
/jails/doc/
/jails/pkg/
/jails/spec/reports/
/jails/tmp/