<!DOCTYPE html>
<html>
  <%= render_partial("layouts/_head.html.erb") %>
  <body>
    <div id="container">
      <%= render_partial("layouts/_navbar.html.erb") %>
      <h1><%= @title %></h1>
      <hr>
      <p>Lorem Ipsum</p>
      <p>Link path to pages resource with an id parameter <a href="/pages/301">pages/301</a> will redirect to the home page.</p>
    </div>
  </body>
</html>