<!DOCTYPE html>
<html>
  <%= render_partial("layouts/_head.html.erb") %>
  <body>
    <div id="container">
      <%= render_partial("layouts/_navbar.html.erb") %>
      <h1>Blog App Home Page</h1>
      <hr>
      <p>Lorem Ipsum</p>
    </div>
  </body>
</html>
